{% extends 'notes/base.html' %}
{% load static %}

{% block title %} <title>Registration</title> {% endblock %}
{% block icon %} <link rel="icon" href="{% static 'notes/favicon.ico' %}" type="image/x-icon"> {% endblock %}


{% block style %} 
    <style>
    .form-container {
      max-width: 500px;
      width: 100%;
    }

    .file-input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .file-name {
      margin-top: 10px;
      font-size: 0.9em;
      color: #555;
    }

    .file-input-container .custom-file {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .custom-file-label {
      justify-content: center;
      cursor: pointer;
    }
  </style>
    {% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
      <div class="col-12 text-center centered-content">
        <h1 class="display-4">Регистрация</h1>
        <div class="form-container mt-4">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Имя пользователя</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="email">Электронная почта</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Пароль</label>
              <input type="password" class="form-control" id="password1" name="password1" required>
            </div>
            <div class="form-group">
              <label for="password">Повторите пароль</label>
              <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
            <div class="form-group file-input-container">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="profile_image" name="profile_image">
                  <label class="custom-file-label text-center" for="profile_picture">Выберите фото профиля (необязательно)</label>
                </div>
                <small id="fileName" class="form-text text-muted file-info file-name"></small>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Зарегистрироваться</button>
            {{ form.errors }}
          </form>
        </div>
        <p class="mt-4">Уже есть аккаунт? <a href="{% url 'notes:login' %}">Войти</a></p>
      </div>
    </div>
  </div>
{% endblock %}
  
 {% block script %} 
   <script>
    $(document).ready(function() {
      $('#profile_picture').on('change', function() {
        var fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
        $('#fileName').text(fileName);
      });
    });
  </script>
 {% endblock %}
