[flake8]
  max-line-length = 120
  exclude =
      .git,
      manage.py,
      __pycache__,
      old,
      build,
      dist
  ignore =
    E265,
    E301,
    E302,
    F403,
    E131,
    E126,
    W292,