{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Tracker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'notes/favicon.ico' %}" type="image/x-icon">
</head>
<body>

<!-- Edit Modal -->
<div class="container" id="editMemoryModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMemoryModalLabel">Изменить воспоминание</h5>
            </div>
            <div class="modal-body">
                <form id="editMemoryForm">
                    <input type="hidden" id="editMemoryId">
                    <div class="form-group">
                        <label for="editMemoryTitle">Название</label>
                        <input type="text" class="form-control" id="editMemoryTitle" placeholder="Введите название">
                    </div>
                    <div class="form-group">
                        <label for="editMemoryLocation">Местоположение</label>
                        <input type="text" class="form-control" id="editMemoryLocation" placeholder="Введите местоположение">
                    </div>
                    <div class="form-group">
                        <label for="editMemoryDescription">Комментарий</label>
                        <textarea class="form-control" id="editMemoryDescription" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="updateMemoryButton">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>