{% extends 'notes/background_pages_base.html' %}
{% load static %}
{% block title %} <title>Adventure Tracker</title> {% endblock %}
{% block icon %} <link rel="icon" href="{% static 'notes/favicon.ico' %}" type="image/x-icon"> {% endblock %}

{% block content %} 
<div class="container">
<div class="row">
  <div class="col-12 text-center centered-content">
    <h1 class="display-3">Adventure Tracker</h1>
    <p class="lead mt-4">Добро пожаловать на Adventure Tracker – платформу, созданную специально для тех, кто живет, чтобы исследовать мир! Храните воспоминания о своих приключениях и находите вдохновение для новых путешествий вместе с нами.</p>
    <a href="{% url 'notes:login' %}" class="btn btn-success btn-lg mt-5">Начать Сейчас</a>
  </div>
</div>
</div>
{% endblock %}
