{% load static %}

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'notes/favicon.ico' %}" type="image/x-icon">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
</head>

<div class="container" id="addMemoryModal" aria-labelledby="addMemoryModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% block content_name %} {% endblock %}
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.location }}
                      <!-- Добавить скрытое поле сюда -->
                    <div class="form-group">
                        <label for="memoryTitle">Название</label>
                        <input type="text" name="title" class="form-control" id="memoryTitle" placeholder="Введите название">
                    </div>
                    {% block map %} 
                    <div id="map" style="width: 400px; height: 400px"></div>
                    <script>
                        ymaps.ready(init);
                    
                        function init () {
                            var myMap = new ymaps.Map("map", {
                                center: [55.76, 37.64],  // Москва
                                zoom: 10
                            }),
                    
                            singlePlacemark;
                    
                            myMap.events.add('click', function (e) {
                                var coords = e.get('coords');
                    
                                // Если метка уже существует, удаляем её
                                if (singlePlacemark) {
                                    myMap.geoObjects.remove(singlePlacemark);
                                }
                    
                                // Создаем и добавляем новую метку
                                singlePlacemark = new ymaps.Placemark(coords, {}, {
                                    preset: 'islands#redDotIcon'
                                });
                    
                                myMap.geoObjects.add(singlePlacemark);
                    
                                // Сохраняем координаты в скрытое поле формы
                                document.querySelector('input[name="location"]').value = JSON.stringify(coords);
                            });
                        }
                    </script>
                    
                    {% endblock %}
                    <div class="form-group">
                        <label for="memoryDescription">Комментарий</label>
                        <textarea class="form-control" name="description" id="memoryDescription" rows="3"></textarea>
                    </div>
                    
                    <div class="modal-footer">
                        <a href="{% url 'notes:profile' user.id %}" type="button" class="btn btn-secondary">Отмена</a>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                    {{ form.errors }}
                </form>
            </div>
        </div>
    </div>
</div>
    {% block script %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>